@import "../../app-variables.scss";
.container {
    background-color: $materialGray300;
}

.header-layout {
    background-color: $mojoTextBlue;
    .logo-img-layout {
        border-radius: 50%;
        background-color: white;
        width: 80;
        height: 80;
        horizontal-align: center;
        vertical-align: center;
    }
    .logo-img {
        width: 40;
        height: 40;
    }
}

.body-layout {
    margin: 0 $padding24 0 $padding24;
    padding: $padding24;
    border-radius: $padding8;
    background-color: white;
    .title {
        font-size: $fontSize18;
        color: $mojoTextBlue;
        margin-bottom: $padding24;
    }
}

.input-title {
    font-size: $fontSize12;
}

.sign-in {
    font-size: $fontSize12;
    padding: $padding4;
    color: $mojoTextBlue;
}

.text-field {
    width: 100%;
    color: black;
    padding-left: $padding12;
    padding-top: $padding12;
    padding-bottom: $padding12;
}

.error-message-layout {
    margin: 0 0 $padding4 0;
    font-size: $fontSize12;
}