<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>835828207040-s81tugociu52ncop4h36b886n0qjip27.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.835828207040-s81tugociu52ncop4h36b886n0qjip27</string>
	<key>API_KEY</key>
	<string>AIzaSyDoA38apqTW2tK4EywHagFFEuy-rMggWJ0</string>
	<key>GCM_SENDER_ID</key>
	<string>835828207040</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.innoria.moretarget</string>
	<key>PROJECT_ID</key>
	<string>moretarget-20aac</string>
	<key>STORAGE_BUCKET</key>
	<string>moretarget-20aac.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:835828207040:ios:0ca82abe968f5c84</string>
	<key>DATABASE_URL</key>
	<string>https://moretarget-20aac.firebaseio.com</string>
</dict>
</plist>